<div class="card" style="width: 40rem;">
  <h5 class="card-header">Page entreprise</h5>
  <div class="card-body">
    <strong>Nom de l'entreprise</strong>
    <div class="row d-flex">
      <div class="p-2">
        <p class="card-text">IDEV-IC</p>
      </div>
      <div class="p-2">
        <small><a href="">Modifier</a></small>
      </div>
    </div>
    <form>
         <div class="form-group">
           <label for="type">Type de l'organisation</label>
           <select class="form-control" id="typeOrganisation">
             <option>Société de droit privé</option>
             <option>ONG, fondation, association, institution</option>
             <option>Recherche publique, éducation</option>
           </select>
         </div>
      <div class="form-group p-2">
        <div>
          Secteur d'activité
        </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="secteur" aria-describedby="secteurHelp" checked>
            <label for="secteur" class="form-check-label">Télécoms, technologie et informatique</label>
          </div>
        <div>
          <a href=""><small>Voir plus de secteurs d'activité</small></a>
        </div>
      </div>
          <div class="form-group">
            <label for="description">Description de l'organisation</label>
            <textarea class="form-control" id="description" aria-describedby="emailHelp" row="3">
            </textarea>
          </div>
      <div class="form-group">
        <label for="type">Votre organisation souhaite-elle commercialiser ou acquérir des données ?</label>
        <select class="form-control" id="role" id="type">
          <option>Fournisseur</option>
          <option>Acquéreur</option>
        </select>
      </div>
      <div class="form-group">
            <label for="pays">Pays</label>
            <input class="form-control" id="pays" aria-describedby="emailHelp" value="Sénégal">
      </div>
      <div class="form-group">
            <label for="site">Site internet</label>
            <input class="form-control" id="site">
      </div>
      <p class="car-text"><strong>Adresse</strong></p>
      <p>Sénégal</p>
      <small><a href="">Modifier</a></small>
      <div class="row float-right"><button class="btn btn-outline-primary" type="button">Modifier</button></div>
    </form>
  </div>
</div>
