<div class="d-flex justify-content-center">
  <div class="col-xs-12 col-md-12 col-lg-9">
    <div class="card mb-3" style="width: 40rem">
      <div class="card-header">Offre à découvrir </div>
      <div class="card-body">
        <p class="card-text">Vous n'avez pas d'offre à découvrir </p>
      </div>
    </div>
      <div class="card mb-3" style="width: 40rem">
        <div class="card-header">Demandes en attente de réponse </div>
        <div class="card-body">
          <p class="card-text">Les demandes de contact ou d'accès à vos données </p>
        </div>
      </div>
    <div class="card mb-3" style="width: 40rem">
      <div class="card-header">Mes achats - les transactions sur mes offres </div>
      <div class="card-body">
        <p class="card-text">Mes achats: </p>
        <p class="card-text">Mes transactions: </p>
      </div>
    </div>
    <div class="card mb-3" style="width: 40rem">
      <div class="card-header">Boite de reception </div>
      <div class="card-body">
        <p class="card-text">Vous n'avez aucun fil de discussion non lu dans votre boite de réception.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-3">
    <div class="card border-info" style="width: 16rem">
      <div class="card-header">Top fournisseurs</div>
      <ul class="list-group list-group-flush">
        <li href="" class="list-group-item">
          <a style="cursor: pointer" class="card-text">IDEV</a>
        </li>
        <li href="" class="list-group-item ">
          <a style="cursor: pointer" class="card-text">Moo</a>
        </li>
        <li href="" class="list-group-item ">
          <a style="cursor: pointer" class="card-text">IBISOFT</a>
        </li>
        <li href="" class="list-group-item ">
          <a style="cursor: pointer" class="card-text">Foo</a>
        </li>
        <li href="" class="list-group-item ">
          <a style="cursor: pointer" class="card-text">Bar</a>
        </li>
      </ul>
    </div>
  </div>
</div>

