 <div class="card" style="width: 40rem;">
    <h5 class="card-header">Profil</h5>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputEmail1">Prénom</label>
              <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prénom" value="Kev">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Nom</label>
              <input class="form-control" id="exampleInputPassword1" placeholder="Nom" value="Adams">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="InputEmail1">E-mail</label>
              <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="E-mail" value="kev.adams@gmail.com">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="InputTel">Téléphone</label>
              <input class="form-control" id="InputTel" aria-describedby="emailHelp" placeholder="Téléphone" value="+221 77 0002626">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="InputPoste">Intitulé poste</label>
              <input class="form-control" id="InputPoste" aria-describedby="emailHelp" placeholder="Intitulé poste" value="Développeur">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="type">Etes vous fournisseur ou acquéreur de données ?</label>
              <select class="form-control" id="type">
                <option>Fournisseur</option>
                <option>Acquéreur</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-title">
          <strong>Visibilité</strong>
        </div>
        <p class="car-text"><small>Gérez la visibilité de vos informations</small></p>
        <a href="">Parametrez votre visibilité</a>
        <div class="row float-right"><button class="btn btn-outline-primary" type="button">Modifier</button></div>
      </form>
    </div>
</div>
