<div class="card mb-2">
  <div class="card-header">Notification des activités de votre compte</div>
  <div class="card-body mb-2">
    <p class="card-text">
      Recevez les notifications sur vos transactions, vos achats de données ainsi que les nouveaux messages reçus.
    </p>
  </div>
</div>

<div class="card mb-2">
  <div class="card-header">Conseils et suggestions</div>
  <div class="card-body mb-2">
    <p class="card-text">
      Recevez des conseils et recommandations sur l'utilisation des données de la place de marché.
    </p>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Oui
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Non
        </label>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Newsletter</div>
  <div class="card-body mb-2">
    <p class="card-text">
      Recevez l'actualité et les évenenments sur la data et l'évolution de la plateforme I-Databank.
    </p>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="option1" checked>
      <label class="form-check-label" for="exampleRadios3">
        Oui
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios4" value="option2">
      <label class="form-check-label" for="exampleRadios4">
        Non
      </label>
    </div>
  </div>
</div>

