<div class="card mb-2">
  <div class="card-header">
    Visibilité
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p class="card-text">
          Paramètrer la visibilité de vos informations personnelles et de vos offres sur la place de marché.
        </p>
      </div>
      <div class="col">
        <button class="btn btn-primary">
          Paramètrer
        </button>
      </div>
    </div>


  </div>
</div>
<div class="card">
  <div class="card-header">
    Supprimer le compte
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p class="card-text">
          Nous vous conseillons de sauvegarder vos informtions personnelles avant de supprimer le compte.
        </p>
      </div>
      <div class="col">
        <button class="btn btn-primary">
          Supprimer mon compte
        </button>
      </div>
    </div>


  </div>
</div>
