
<div class="row">
  <div class="col-xs-4 col-lg-4">
    <nav class="nav flex-column nav-pills">
      <a class="nav-link active" [routerLink]="['profile-edit']">Modifier Profil</a>
      <a class="nav-link" [routerLink]="['entreprise-edit']">Page entreprise</a>
      <a class="nav-link" [routerLink]="['verification']">Confiance et vérification</a>
    </nav>
  </div>
  <div class="col-xs-8 col-lg-8">
    <router-outlet>

    </router-outlet>
  </div>
</div>

<!--
<div class="row">
  <div class="col-xs-6 col-md-3">
      <img src="" alt="" class="thumbnail">
    <a style="cursor: pointer">Modifier <span class="glyphicon glyphicon-edit"></span></a>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="list-group-item clearfix">
      <div class="col-xs-12">
        <h4 class="list-group-item-heading">Nom</h4>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <p class="list-group-item-text">Sar</p>
        </div>
        <div class="col-xs-2">
          <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="list-group-item clearfix">
    <div class="col-xs-12">
      <h4 class="list-group-item-heading">Prénom</h4>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p class="list-group-item-text">Kaba</p>
      </div>
      <div class="col-xs-2">
        <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="list-group-item clearfix">
    <div class="col-xs-12">
      <h4 class="list-group-item-heading">Fonction</h4>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p class="list-group-item-text">Developper</p>
      </div>
      <div class="col-xs-2">
        <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="list-group-item clearfix">
    <div class="col-xs-12">
      <h4 class="list-group-item-heading">Entreprise</h4>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p class="list-group-item-text">IDEVTECH</p>
      </div>
      <div class="col-xs-2">
        <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="list-group-item clearfix">
    <div class="col-xs-12">
      <h4 class="list-group-item-heading">Type de membre</h4>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p class="list-group-item-text">Fournisseur</p>
      </div>
      <div class="col-xs-2">
        <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="list-group-item clearfix">
    <div class="col-xs-12">
      <h4 class="list-group-item-heading">Contact</h4>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p class="list-group-item-text">IDEVTECH</p>
      </div>
      <div class="col-xs-2">
        <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="list-group-item clearfix">
    <div class="col-xs-12">
      <h4 class="list-group-item-heading">Note</h4>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p class="list-group-item-text">*****</p>
      </div>
      <div class="col-xs-2">
        <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="list-group-item clearfix">
    <div class="col-xs-12">
      <h4 class="list-group-item-heading">Date d'adhésion</h4>
    </div>
    <div class="row">
      <div class="col-xs-10">
        <p class="list-group-item-text">Novembre 2018</p>
      </div>
      <div class="col-xs-2">
        <a style="cursor: pointer" class="list-group-item-text"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
    </div>
  </div>
</div>
-->
