<table class="table" *ngIf="affiche">
  <thead>
  <tr>
    <th>Année</th>
    <th>Production(t)</th>
    <th>Superficie(ha)</th>
    <th>Rendement(kg/ha)</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>2003</td>
    <td>30000</td>
    <td>200</td>
    <td>150</td>
  </tr>
  <tr>
    <td>2003</td>
    <td>30000</td>
    <td>200</td>
    <td>150</td>
  </tr>
  <tr>
    <td>2010</td>
    <td>40000</td>
    <td>600</td>
    <td>50</td>
  </tr>

  <tr>
    <td>2009</td>
    <td>77000</td>
    <td>500</td>
    <td>250</td>
  </tr>
</tbody>
</table>
