<div class="card mb-3" style="width: 40rem">
  <div class="card-header">Confiance et vérification</div>
  <div class="card-body">
    <h5 class="card-title">
      Informations professionnelles
    </h5>
    <p class="card-text">Vérifier mon e-mail professionnel</p>
    <p class="card-text"> Vérifier mon identité Linkedin</p>
  </div>
  <div class="card-footer">
    Information de l'organisation
  </div>
</div>

<div class="card mb-3" style="width: 40rem">
  <div class="card-header">Informations vérifiées</div>
  <div class="card-body">
    <h5 class="card-title">
      Adresse email
    </h5>
    <p class="card-text">Adresse confirmée: <strong>kev.adams@gmail.com</strong></p>
    <small>Augmentez la confiance des membres dans votre profil en confirmant votre adresse email </small>
  </div>
</div>
<div class="card mb-3" style="width: 40rem">
  <div class="card-header">Non vérifiées</div>
  <div class="card-body">
    <h5 class="card-title">
      Numero téléphone
    </h5>
    <div class="row">
      <div class="col">
        <p class="card-text"><strong>+221 77 000 25 25</strong></p>
      </div>
      <div class="col">
        <div class="row mb-2">
        <div class="btn btn-primary btn-md btn-block">Demander le code de vérification</div>
        </div>
        <div class="row">
          <div class="btn btn-primary btn-md btn-block">Entrer le code de confirmation</div>
        </div>
      </div>
    </div>

    <small>Valider votre numéro de téléphone pour améliorer la qualité de votre profil et facilter le contact avec vos interlocuteurs </small>
  </div>
</div>
