<div class="row d-flex justify-content-center">
  <div class="col-xs-3">
  <div class="card" style="width: 100%">
  <div class="card-body">
    <div class="row">
    <ul class="nav nav-pills flex-column">
      <li  class="nav-item">
        <a style="cursor: pointer" class="nav-link active">Fonction public</a>
      </li><li  class="nav-item">
        <a style="cursor: pointer" class="nav-link">Cabinet d'études</a>
      </li><li  class="nav-item">
        <a style="cursor: pointer" class="nav-link">ONG</a>
      </li><li  class="nav-item">
        <a style="cursor: pointer" class="nav-link">Secteur privé</a>
      </li><li  class="nav-item">
        <a style="cursor: pointer" class="nav-link">Recheche et développement</a>
      </li>

    </ul>
  </div>
    <hr>
  <div class="row">
      <ul class="nav nav-pills flex-column">
        <li  class="nav-item">
          <a style="cursor: pointer" class="nav-link active">Agriculture</a>
        </li>
        <li  class="nav-item">
        <a style="cursor: pointer" class="nav-link">Elevage</a>
      </li>
        <li  class="nav-item">
        <a style="cursor: pointer" class="nav-link">Pêche</a>
      </li>
        <li  class="nav-item">
        <a style="cursor: pointer" class="nav-link">Energie</a>
      </li>
        <li  class="nav-item">
          <a style="cursor: pointer" class="nav-link">Hydraulique</a>
        </li>
      </ul>
  </div>
    <hr>
    <div class="row">
      <ul class="nav nav-pills flex-column">
        <li  class="nav-item">
          <a style="cursor: pointer" class="nav-link active">Collection</a>
        </li>
        <li  class="nav-item">
          <a style="cursor: pointer" class="nav-link">Fichier et document</a>
        </li>
        <li  class="nav-item">
          <a style="cursor: pointer" class="nav-link">Chart</a>
        </li>
        <li  class="nav-item">
          <a style="cursor: pointer" class="nav-link">Carte</a>
        </li>
        <li  class="nav-item">
          <a style="cursor: pointer" class="nav-link">Formulaire</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  </div>
<div class="col-md-9">
  <app-data-list
  (dataWasSelect)="selectedData = $event"></app-data-list>
  </div>
</div>
