<a style="cursor: pointer"
[routerLink]="[index]"
class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="row">
    <div class="col-6">
          <h5 class="mb-1">{{ data.name }}</h5>
    </div>
    <div class="col-3 d-flex flex-row-reverse">
      <span class="badge badge-secondary p-2">{{ data.categorie }}</span>
    </div>
    <div class="col-3">
        <small>{{data.type}}</small>
    </div>
  </div>
 <div class="row">
   <div class="col-xs-9">
     <p class="mb-1"> {{data.description}}</p>
   </div>
 </div>
  <hr>
  <div class="row" style="padding: 10px">
    <div class="col">
      <div class="row">
        <b>Nombre de vue</b>
      </div>
      <div class="row">
       <div class="badge badge-light badge-pill">
         {{data.view}}
       </div>
    </div>
    </div>
<div class="col-4">
  <div class="row">
       <b>Dernière mise à jour</b>
  </div>
    <div class="row">
      {{data.date | date: 'shortDate'}}
    </div>
  </div>

  </div>
</a>


